*{
    margin: 0;
    padding: 0;
}

.main{
    width: 100%;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.5)50%,rgba(0,0,0,0.5)50%), url(1.gif);
    background-position: center;
    background-size: cover;
    height: 100vh;
}

.navbar{
    width: 1300px;
    height: 75px;
    margin: auto;
}

.icon{
    width: 300px;
    float: left;
    height: 70px;
}

.logo{
    color: #212346;
    font-size: 30px;
    font-family: Arial;
    padding-left: 0px;
    float: left;
    padding-top: 10px;
    margin-top: 5px
}

.menu{
    width: 400px;
    float: left;
    height: 70px;
}

ul{
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
}

ul li{
    list-style: none;
    margin-left: 62px;
    margin-top: 27px;
    font-size: 18px;
}

ul li a{
    text-decoration: none;
    color: #fff;
    font-family: Arial;
    font-weight: bold;
    transition: 0.4s ease-in-out;
}

ul li a:hover{
    color: #212346;
    
}

.search{
    width: 330px;
    float: left;
    margin-left: 270px;
}

.srch{
    font-family: 'Times New Roman';
    width: 200px;
    height: 40px;
    background: transparent;
    border: 1px solid #212346;
    margin-top: 13px;
    color: rgb(13, 35, 55);
    border-right: none;
    font-size: 20px;
    float: left;
    padding: 10px;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
}

.btn{
    width: 100px;
    height: 40px;
    background: #212346;
    border: 2px solid #212346;
    margin-top: 13px;
    color: rgb(255, 255, 255);
    font-size: 20px;
    border-bottom-right-radius: 5px;
    border-bottom-right-radius: 5px;
    transition: 0.2s ease;
    cursor: pointer;
}
.btn:hover{
    color: #000;
}

.btn:focus{
    outline: none;
}

.srch:focus{
    outline: none;
}

.content{
    width: 1800px;
    height: auto;
    margin: auto;
    color: #fff;
    position: relative;
}

.content .par{
    padding-left: 20px;
    padding-bottom: 25px;
    font-size: 25px;
    font-family: Arial;
    letter-spacing: 1.2px;
    line-height: 30px;
}

.content h1{
    font-family: 'Times New Roman';
    font-size: 50px;
    padding-left: 20px;
    margin-top: 9%;
    letter-spacing: 2px;
}



.content .cn a{
    text-decoration: none;
    color: #000;
    transition: .3s ease;
}

.cn:hover{
    background-color: #fff;
}

.content span{
    color: #212346;
    font-size: 65px
}

.upload-section
{
    width: 100%;
    margin-top: 5%!important;
}

.upload-file
{
    width: 100%;
    float: right;
    margin-top: 1%;
    margin-bottom: 1%;
}

.file-form
{
    padding-left: 4%;
    padding-right: 4%;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.file-form-input
{
    max-width: 50%;
    border-radius: 200px;
    border: 1px solid ;
    color: #212346;
    display: inline-block;
    padding: 8px 20px 8px 20px;
    font-weight: 300;
    text-decoration: none;
    font-size: 20px;
    transition: background-color 0.2s , border 0.2s , color 0.2s;
}

.file-form-input:focus
{
    outline: none;
}

.btn
{
    width: 10%;
    font-size: 20px!important;
    height: 15%;
    max-width: 30%;
}

